<!DOCTYPE html>
<html class="min-h-screen">
  <head>
    <title><%= yield(:title) || "Rails-7 Template" %></title>
    <link rel="icon" type="image/png" href="<%= asset_path('favicon.ico') %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>

  <body class="bg-background container">
    <%# header %>
    <% if user_signed_in? %>
      <header>
        <%= render 'components/navbar' %> 
      </header>
    <% end %>
    <%# main content %>
    <main class="flex flex-1 flex-col">
      <p class="notice text-center"><%= notice %></p>
      <p class="alert text-destructive text-center"><%= alert %></p>
      <%= yield %>
    </main>
    <%# footer %>
    <footer class="mt-10 p-4 bg-gray-800 text-white text-center">
      <p>&copy; <%= Date.today.year %> Your Company. All rights reserved.</p>
    </footer>
  </body>
</html>
